*{
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-size: 140px;
}
div{
	margin: 0 auto;
	/*vertical-align: middle;*/
	display:flex;
	/*min-height: 100%;*/
	/*max-width: 100%;*/
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.button{
	background: linear-gradient(to top, #1e88e5, #6ab7ff);
	width: 600px;
	height: 250px;
	margin: 0 auto;
	border-radius: 8%;
	cursor:pointer;
	border: 1px solid transparent;
}

.button:hover{
	background: linear-gradient(to top, #2196f3, #6ec6ff);

}

.button:active{
	background: linear-gradient(to top, #005cb2 ,#0069c0);
}
.button[disabled]{
	background: linear-gradient(to top, #1976d2, #63a4ff);
	cursor: default;
	color: #fff;

}